  <launch>
	  <arg name="known_map" default="true"/>

	  <!-- frontier exploration -->
	  <include file="$(find frontier_exploration)/launch/global_map.launch">
	  <arg name="known_map" value="$(arg known_map)"/>
	  </include>

	  <!-- exploration poly publisher -->

	  <!--<node pkg="asl_turtlebot" type="pub_expl_bounds.py" name="pub_expl_bounds" />-->

  </launch>